# Dependencies
node_modules
.pnp
.pnp.*

# Build outputs
.next
out
dist
build

# Testing
coverage
*.lcov

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local

# Vercel
.vercel

# Turbo
.turbo

# Cache
.cache
.parcel-cache

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.swp
*.swo
*~

# OS
Thumbs.db
.playwright-mcp/console-2026-02-06T16-31-29-855Z.log
.playwright-mcp/console-2026-02-06T16-38-15-445Z.log
.playwright-mcp/console-2026-02-06T16-50-27-294Z.log
.playwright-mcp/console-2026-02-06T16-51-11-666Z.log
.playwright-mcp/console-2026-02-06T16-51-35-150Z.log
.playwright-mcp/console-2026-02-06T22-39-00-670Z.log
.playwright-mcp/console-2026-02-06T22-39-18-496Z.log
.playwright-mcp/console-2026-02-06T22-40-16-168Z.log
.playwright-mcp/console-2026-02-09T14-52-50-330Z.log
.playwright-mcp/console-2026-02-09T16-57-19-845Z.log
.playwright-mcp/console-2026-02-09T17-03-42-617Z.log
.playwright-mcp/console-2026-02-10T14-16-01-523Z.log
.playwright-mcp/page-2026-02-06T22-39-09-752Z.png
.playwright-mcp/page-2026-02-06T22-39-27-303Z.png
.playwright-mcp/page-2026-02-06T22-43-27-414Z.png
.playwright-mcp/page-2026-02-06T22-44-07-728Z.png
.playwright-mcp/page-2026-02-06T22-45-04-771Z.png
nul